<div class="comments">
        {{#each this}} 
        <section class="comment">
            <div class="meta" id="meta-id">
               By {{user.username}} on {{format_date created_at}}
            </div>
            <div class="text">
                {{comment_text}}
            </div>
        </section>
        {{/each}}
    </div>