<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NerdNews</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
  <div class="wrapper">
    <header>
       <nav class="navbar">
         <ul>
           <li>
               <a href="/">Home</a>
            </li>
            {{#if loggedIn}}
            <li>
               <a href="/dashboard">Dashboard</a>
            </li>
            {{/if}}
            {{#unless loggedIn}}
            <li>    
                <a href="/login">Login</a>
            </li>
            {{/unless}}
            {{#if loggedIn}}
            <li>        
                <button id="logout" class="btn-no-style">Logout</button>
            </li>
            {{/if}}
        </ul>
      </nav>
 
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer id="footer">
      Thanks for visiting!
    </footer>
  </div>
   {{#if loggedIn}} 
  <script src="/javascript/logout.js"></script>
   {{/if}}

</body>

</html>