 {{>nerdnews-title}}
 
<form class="login-form">
    <h1>Login</h1>
    <br>
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
  <div class="login-signup">
         <a href="/signup">Sign up instead</a>
  </div>
</form>

<script src="./javascript/login.js"></script>