 {{>nerdnews-title}}
 
<form class="signup-form">
    <h1 id="signup-title">Signup:</h1>
    <br>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Sign-up</button>
  </div>
  <div class="signup-login">
         <a href="/login">Login instead</a>
  </div>
</form>

<script src="./javascript/signup.js"></script>